#banner {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3000;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #856504;

  .alert {
    margin-bottom: 0;
    text-align: center;
    border-radius: 0;
  }
}