// Big Ten Academic Alliance colors:
$white: #FFFFFF; // 100%
$gray: #CCCCCC; // 80%
$black: #000000; // 0%
$btaa-blue: #005E8E;
$btaa-blue-dark: #003c5b;
$radius: 4px;

// Sass link color variables
$link-color: $white;
$hover-color: darken($link-color, 20%);
$visited-color: lighten($link-color, 20%);

section#footer-app {
  color:$white;
  padding-bottom:1rem;
  background-color: $btaa-blue;
  border-top: 1rem solid $btaa-blue-dark;
  border-bottom: 0.5rem solid $btaa-blue-dark;
  background-image: asset_url('footer/elevation_map_mpls_blueish_8.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  // Link styling
  a {
  color: $link-color;
  text-decoration: none;
  
    &:hover{
    color: $hover-color;
      border-bottom: 1px solid $hover-color;
    }
  
    &:visited{
      color: $visited-color;
      border-color: $visited-color;
    }
  }
  
  #footer-title {
    padding-top:1.5rem;

    a {
      &:hover {
        border-bottom: none;
      }
    }
  } 
}
