// Big Ten Academic Alliance colors:
$white: #FFFFFF; // 100%
$gray: #CCCCCC; // 80%
$black: #000000; // 0%
$btaa-blue: #005E8E;
$radius: 4px;

#survey-button {
  position: fixed;
  bottom:2rem;
  right:2rem;
  a {
    background-color: #186329;
    border: none;
    border-radius: 0;
  }
}

main.homepage {
  background:lighten($black, 12%) asset_url('aerial_photo_dark.jpg') repeat;
  padding:0px;
  padding-left:15px;
  padding-right:15px;

  #home-content {
    margin-top:5.5rem;
    h2 {
      margin-top:1rem;
    }
  }

  #wrapper-map {
    div#map-container {
      position:fixed;
      top:5.5rem;
      height: 100%;
      padding:0px;

      div#map {
        height: 100% !important;
        background-color:#b8e6fe;

        .leaflet-right .leaflet-control {
          margin-right: 2rem;
        }

        #map-search-btn {
          z-index:4000;
          color:$white;
        }
      }
    }
  }

  #wrapper-search {
    margin-top:12rem;
    height:100%;
    overflow-y:scroll;
  }
}
