.glyphicon-mapview        { &:before { content: "\e135"; } }
.glyphicon-split          { &:before { content: "\e055"; } }

.geoblacklight-scanned-map:before { content: "\f107"; }
.geoblacklight-scanned-map:before {
  display: inline-block;
  font-family: "geoblacklight-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

span.icon {
  display: inline;
  align-self: center;
}

// Homepage white icons
h3.h6 svg>path {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.icon.square svg {
  height: 100px;
  width:100px;
}

.icon.baseline svg {
  bottom: .125em;
  position: relative;
}

.media-body {
  .blacklight-icons {
    min-width: 1.25rem;
    max-width: 1.25rem;
  }
}
