/* cursors */
.leaflet-interactive {
  cursor: crosshair !important;
}

.sleep-note {text-transform: uppercase}

#esri-error {
  z-index: 1000;
  background-color: black;
  position: relative;
  min-height: 440px;
  opacity: 0.65;
  color: white;

  .content {
    padding:2rem;
    text-align: center;
    position: relative;
    top:8rem;
  }
}

#progress {
    display: none;
    position: relative;
    z-index: 1000;
    left: 50%;
    top: 40%;
    width: 200px;
    height: 1rem;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

// geosearch control
.leaflet-control-geosearch {
  input.glass {
    height:30px;
  }

  a.leaflet-bar-part:before {
    display: none !important;
  }

  a.leaflet-bar-part::after {
    background-image: asset_url('search-solid.svg') !important;
    top: 9px !important;
    left: 8px !important;
    height: 13px !important;
    width: 13px !important;
    border-radius: 0px !important;
    border: none !important;
  }

  .leaflet-bar-part::before {
    background-image: none !important;
  }
}

// layer/basemap toggle
.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-size: 20px 20px !important;
}
