// Big Ten Academic Alliance colors:
$white: #FFFFFF; // 100%
$gray: #CCCCCC; // 80%
$black: #000000; // 0%
$btaa-blue: #005E8E;
$radius: 4px;

// Sass link color variables
$link-color: $white;
$hover-color: darken($link-color, 20%);
$visited-color: lighten($link-color, 20%);

div#cic-header-navbar {
  margin-bottom:0;
  background-color: darken($btaa-blue, 10%);
  padding-left:0.5rem;
  padding-right:0.5rem;
}

#header-navbar {
  padding:0rem;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
}

div#application-header {
  background-color:$btaa-blue;

  // Link styling
  a {
    color: $link-color;
    text-decoration: none;
    
      &:hover{
      color: $hover-color;
        border-bottom: 1px solid $hover-color;
      }
    
      &:visited{
        color: $visited-color;
        border-color: $visited-color;
      }
    }

  .navbar-brand {
    margin-top: -1rem;
    font-weight:bold;
    font-size:36px;
    background:none;
    overflow:visible;
    text-indent:0;
    height: 50px;
    margin-left:1rem;
    border:none !important;
    text-decoration: none !important;
  
    &:hover {
      color: $white !important;
      text-decoration: none !important;
    }
    
    &:visited {
      color: $visited-color !important;
      text-decoration: none !important;
      border: none !important;
    }
  }

  span.icon-bar {
    background-color:$white;
  }
}

form.search-query-form {
  max-width: 704px;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  #header-navbar {
    #cic-header-navbar {
      img {
        height: 40px !important;
      }
    }

    a.navbar-brand {
      margin-top: -0.5rem;
      font-size: 32px;
    }
  }

  main {
    #home-content {
      margin-top: 3rem !important;
    }
  }
}
