#documents article.document {
  padding-bottom: 0.5rem;

  .document-wrapper {
    width:100%;
  }
}

.page-links a, a.page-link {

  color: #005E8E;

  &:hover {
    color: #005E8E !important;
    border-color: #dee2e6 !important;
  }

  &:visited {
    color: #005E8E !important;
    border-color: #dee2e6 !important;
  }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #0059B8;
  border-color: #0059B8;
}

// a11y - #518 - Facets - Color Contrast 
.text-success, .facet-values li .selected {
  color: #186329 !important;
}