// Big Ten Academic Alliance colors:
$white: #FFFFFF; // 100%
$gray: #CCCCCC; // 80%
$black: #000000; // 0%
$btaa-blue: #005E8E;
$radius: 4px;

// link color variables
$link-color: $btaa-blue;
$hover-color: darken($link-color, 20%);
$visited-color: lighten($link-color, 15%);

// link styling
a {
  color: $link-color;
  text-decoration: none;
  
  &:hover{
  color: $hover-color;
  }

  &:visited{
    color: $visited-color;
    border-color: $visited-color;
  }
}
a.btn { 
  text-decoration: none; 
  &:visited {
    color: inherit;
    border-color: inherit;
  }
}
a.btn.btn-primary {
  color: $white;
  background-color: $btaa-blue;
  border-color: $btaa-blue;


  &:hover {
    color: $white;
    background-color: #003c5b;
    border-color: #006fa8;
  }

  &:visited {
    color: $white;
  }
}
a.navbar-brand { text-decoration: none; }

#geoportal-about {
  margin-top:1rem;
}

body {
  height: 100%;
  background-color: $white;
}

header {
  background-color: $white;
}

#main-container {
  margin-top:1rem;
  margin-bottom:2rem;
  background-color: $white;
  background: none;
}

section#home-metadata {
  margin-top:4rem;
}

section#map {
  height:600px;
}

div#search-bar {
  padding:2rem;
}

#home-content-wrapper {
  div#search-bar {
    background-color:rgba($black,0.8);
    padding:1rem 3rem 2rem 2rem;
  }
}

#project-tagline {
  margin-top:0;
  padding:1rem;
  display:inline-block;
  background-color:rgba($btaa-blue,0.9);
  color:$white;
}

#project-text {
  padding:1rem;
  display:inline-block;
  background-color:rgba(255,255,255,0.9);
  margin-bottom:2rem;
  border-radius:$radius;

  .project-action {
    border-top:1px solid #CCC;
    padding-top:1rem;
  }
}

// Overwriting BL/GBL styles
// Keep search form and results facets within the grid

.navbar-toggle, .facets-toggle {
  margin-right:0px;
}

#facet-panel-collapse {
  padding-left:0;
  padding-right:0;
}

#search-navbar {
  background-color:lighten($gray, 10%);
  border-bottom: 1px solid $gray;
  .navbar-form {
    margin-left:-15px;
  }
}

// Lists - Horizontal w/ Bullets
.list-horizontal {
  padding-left:0;
}

.list-horizontal li {
  display:inline-block;
}
.list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color:$white;
}

.list-horizontal li:first-child {
  width:auto;
}

.list-horizontal li:first-child:before {
  content: none;
}

// Static page navigation
.nav.nav-sidebar.flex-column {
  margin-left:0;
}

.nav.nav-sidebar.flex-column>li.nav-item{
  margin-bottom: 0.5em;
}

.nav.nav-sidebar.flex-column>li.nav-item>a{
  position: relative;
  display: block;
  padding: 10px 15px;
  border-left:4px solid #eeeeee;
  background-color:#eeeeee;
}

.nav.nav-sidebar.flex-column>li.nav-item>a.active {
  border-left:4px solid #7a0019;
  background-color:#dddddd;
  font-weight: bold;
}

.nav.nav-sidebar.flex-column>li.nav-item>a:hover{
  color:inherit;
  border-left:4px solid $btaa-blue;
  background-color:#dddddd;
  font-weight: bold;
  text-decoration:none;
}

.nav.nav-sidebar.flex-column>li.nav-item>a.active {
  border-left:4px solid $btaa-blue;
}

section#content {
  div#map {
    min-height: 440px;
    height: calc(100vh - 120px) !important;
    background-color:#b8e6fe;
  }
}

.twitter-typeahead input.tt-hint.form-control {
  width: 100%;
  border-radius:0px !important;
}

span.list-view.document-counter {
  display:inline-block;
  float:left;
  position:relative;
  top:1rem;
  font-weight:500;
}

.view-type-group {
  .caption {
    position:inherit;
  }
}

.media {
  .media-title {
    font-size:14px;
    margin-top:0px;
  }
}

// Feedback
#feedback {
  margin-top:2rem;
}


#home-search {
  background:lighten(#CCC, 12%) asset_url('aerial_photo_dark.jpg') repeat;
}

#home-search .navbar-form {
  padding:0;
  margin:0;
}

// Blacklight range limit
.range_limit input.range_begin, .range_limit input.range_end {
    display: inline-block;
    width: 4.5em;
}

// Accessibility Updates
// * Metadata Balanced List
.dl-invert dt {
  font-weight: normal;
  color: #000000;
}

// * Form Controlls
.form-control {
  color: $black !important;
}

// * Input Placeholder
::placeholder {
  color: $black !important;
}

// * Advanced Search Chosen Fields
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  color: $black !important;
}

.pagination-search-widgets {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1rem;
}
