%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.pull-left
        %ul.list-horizontal
          %li
            %a{href:'./about#hosting'} Hosted by the University of Minnesota Libraries
          %li
            %a{href:'./about#hosting'} Policies
