%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.row

        %div.col-xs-12.col-sm-12

          %div.pull-left
            %a{href:'https://library.umn.edu'}
              =image_tag('ulib-box_@2X.png', {id:'university-libraries', alt: 'University Libraries', title: 'University Libraries', height: '80', width:'80'})

          %div.pull-left{style:'margin-left:2rem;'}
            %h3{style:'margin-top:0;'} University of Minnesota Libraries
            %ul.list-unstyled
              %li
                %a{href:'https://www.lib.umn.edu/'} Library Homepage
              %li
                %a{href:'https://www.lib.umn.edu/contact'} Contact Us

          %div.pull-left{style:'margin-top:2rem;'}
            %p
              %small
                &copy; 2016 Regents of the University of Minnesota. All rights reserved. The University of Minnesota is an equal opportunity educator and employer.
                %br
                %a{href:'http://privacy.umn.edu'} Privacy Statement
                =" | "
                %a{href:'http://policy.umn.edu/it/itresources'} Acceptable Use of IT Resources
