%div.container-fluid
  %div.row
    %div#footer-lib.col-xs-12.col-lg-12
      %div.pull-left
        %p
          The technical infrastructure for this project is provided by the University of Minnesota Libraries Web Development department.

        %ul.list-horizontal
          %li
            %a{href:'https://www.lib.umn.edu/about/privacy'} Privacy Statement
          %li
            %a{href:'https://policy.umn.edu/it/itresources'} Acceptable Use of IT Resources
