%div.container-fluid
  %div.row
    %div.col-xs-12.col-lg-12
      %h3 Big Ten Academic Alliance Geoportal
      %ul.list-horizontal
        %li
          = link_to "News &amp; Updates".html_safe, 'https://geobtaa.blogspot.com'
        %li
          = link_to "About Us", 'https://gin.btaa.org'
        %li
          %a{href:'https://geo.btaa.org/feedback'} Contact Project Team
        %li
          %a{href:'http://www.btaa.org'} Big Ten Academic Alliance Homepage
