%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.row

        %div.col-xs-12.col-sm-12
          %div.pull-left
            %p
              %a{href:'./about#hosting'} Hosted by the University of Minnesota Libraries
