%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.row

        %div.col-sm-10
          %div.row
            %div.col-sm-3
              %h3
                = link_to 'About', about_path
              %ul.list-unstyled
                %li
                  %a{href:'#'} Project Details
                %li
                  %a{href:'#'} How to Submit Data
                %li
                  %a{href:'#'} Policies and Terms of Use
                %li
                  %a{href:'#'} Contact Us

            %div.col-sm-3
              %h3
                %a{href:'https://www.lib.umn.edu/about/contact'} Related Services
              %ul.list-unstyled
                %li
                  %a{href:'#'} University Archives
                %li
                  %a{href:'#'} U of M Web Archive
                %li
                  %a{href:'#'} UMedia Archive
                %li
                  %a{href:'#'} Copyright Services
                %li
                  %a{href:'#'} Digital Preservation

            %div.col-sm-3
              %h3
                %a{href:'https://www.libraries.umn.edu'} Libraries
              %ul.list-unstyled
                %li
                  %a{href:'https://www.lib.umn.edu/about/collections'} Hours
                %li
                  %a{href:'http://www.continuum.umn.edu'} News &amp; Events
                %li
                  %a{href:'https://www.lib.umn.edu/about/staff'} Staff Directory
                %li
                  %a{href:'https://www.lib.umn.edu/about/selectors'} Subject Librarians
                %li
                  %a{href:'https://www.lib.umn.edu/about/goals'} Vision, Mission, &amp; Goals

        %div.col-xs-12.col-sm-2
          %a{href:'https://library.umn.edu'}
            =image_tag('ulib-box_@2X.png', {id:'university-libraries', alt: 'University Libraries', title: 'University Libraries', height: '150', width:'150'})

      %div.row
        %div.col-lg-12
          %hr
