%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.row

        %div.col-sm-10
          %div.row
            %div.col-sm-12
              %h3
                = link_to 'CIC Geospatial Discovery Portal', about_path
              %ul.list-unstyled.list-inline
                %li
                  %a{href:'#'} Project Details
                %li
                  %a{href:'#'} How to Submit Data
                %li
                  %a{href:'#'} Policies and Terms of Use
                %li
                  %a{href:'#'} Contact Us
