%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.row

        %div.col-sm-10
          %div.row
            %div.col-sm-12
              %h3 Big Ten Academic Alliance Geoportal
              %ul.list-horizontal
                %li
                  %a{href:'#'} About Us
                %li
                  %a{href:'#'} How to Submit Data
                %li
                  %a{href:'#'} Policies and Terms of Use
                %li
                  %a{href:'#'} Contact Project Team
