%div.container
  %div.row
    %div#footer-app.col-xs-12
      %h3 Big Ten Academic Alliance Geoportal
      %ul.list-horizontal
        %li
          = link_to "News &amp; Updates".html_safe, 'https://sites.google.com/umn.edu/btaa-gdp/news'
        %li
          = link_to "About Us", 'https://sites.google.com/umn.edu/btaa-gdp/about'
        %li
          %a{href:'https://docs.google.com/a/umn.edu/forms/d/e/1FAIpQLSf6OHrj6YIcn8yNe6sWgQJ_iJfElDZgozUCSdATzePwLqul5Q/viewform'} Contact Project Team
        %li
          %a{href:'http://www.btaa.org/homepage'} Big Ten Academic Alliance Homepage
        %li
          = link_to image_tag('twitter-logo.png', alt: 'Follow @geobtaa on Twitter') + ' Follow @geobtaa', 'https://twitter.com/geobtaa'
        
