%div.container
  %div.row
    %div#footer-lib.col-xs-12
      %div.row

        %div.col-sm-10
          %div.row
            %div.col-sm-12
              %h3 Big Ten Academic Alliance Geoportal
              %ul.list-horizontal
                %li
                  = link_to "About Us", about_path
                %li
                  %a{href:'mailto:cic-gddp@umn.edu'} Contact Project Team
