%div#main-content.col-sm-9
  %h1 About Page

  %p
    This geoportal connects users to digital geospatial resources, including GIS datasets, web services, and digitized historical maps from multiple data clearinghouses and library catalogs. The interface offers both text and place based search options, and item pages display descriptive metadata records along with external links to download, view, or read more about the resources. This site is solely an aggregator and does not host any data.
    %a{href:'https://sites.google.com/a/umn.edu/cic-geospatial-data-discovery-project/'} Read more about the Geospatial Data Discovery Project here.

  %p
    This project is collectively managed by librarians and geospatial specialists at nine research institutions from across the
    %a{href:'https://www.cic.net/home'} Committee on Institutional Cooperation (CIC)
    including:

  %ul
    %li Michigan State University
    %li Pennsylvania State University
    %li Purdue University
    %li University of Illinois at Urbana­-Champaign
    %li University of Iowa
    %li University of Maryland
    %li University of Michigan
    %li University of Minnesota (host institution)
    %li University of Wisconsin-­Madison

  %h2 Sources
  %p
    The geoportal's records have been aggregated from repositories located in the states of Illinois, Indiana, Iowa, Maryland, Michigan, Minnesota, Pennsylvania, and Wisconsin including:

  %h3 Data Providers

  %ul
    %li
      %a{href:'http://www.a2gov.org/services/data/Pages/default.aspx'} City of Ann Arbor Data Catalog
    %li
      %a{href:'https://data.detroitmi.gov/'} Detroit Open Data
    %li
      %a{href:'https://clearinghouse.isgs.illinois.edu/'} Illinois Geospatial Data Clearinghouse (ISGS)
    %li
      %a{href:'http://www.indianamap.org/'} IndianaMap
    %li
      %a{href:'http://public.iowadot.opendata.arcgis.com/'} Iowa DOT Open Data Map Portal
    %li
      %a{href:''} Iowa Geological Survey Data (DNR)
    %li
      %a{href:'http://imap.maryland.gov/Pages/default.aspx'}  Maryland iMap
    %li
      %a{href:'https://gisdata.mn.gov/'}  Minnesota Geospatial Commons
    %li
      %a{href:'http://www.pasda.psu.edu/'}  Pennsylvania Spatial Data Access (PASDA)
    %li
      %a{href:'http://maps.semcog.opendata.arcgis.com/'} Southeast Michigan Council of Governments (SEMCOG) Open Data
    %li
      %a{href:'http://gis.michigan.opendata.arcgis.com/'} State of Michigan Open Data
    %li
      %a{href:''} Wisconsin Department of Agriculture, Trade and Consumer Protection
    %li
      %a{href:''} Wisconsin Department of Natural Resources (DNR)
    %li
      %a{href:'http://data.ltsb.opendata.arcgis.com/'} Wisconsin Legislative Technology Services Bureau

  %h3 University Libraries

  %ul
    %li
      %a{href:'https://www.libraries.psu.edu/psul/maps.html'} Penn State University Donald W. Hamer Map Library
    %li
      %a{href:'http://www.lib.uiowa.edu/maps/'} University of Iowa Libraries
    %li
      %a{href:'http://www.lib.umd.edu/'} University of Maryland Libraries
    %li
      %a{href:'http://www.lib.umich.edu/clark-library'} University of Michigan Stephen S. Clark Library
    %li
      %a{href:'https://www.lib.umn.edu/borchert'} University of Minnesota - John R. Borchert Map Library
