%div#main-content.col-sm-8
  %h1 About Us

  %p
    This geoportal connects users to digital geospatial resources, including GIS datasets, web services, and digitized historical maps from multiple data clearinghouses and library catalogs. The interface offers both text and place based search options, and item pages display descriptive metadata records along with external links to download, view, or read more about the resources. This site is solely an aggregator and does not host any data.
    %a{href:'https://sites.google.com/a/umn.edu/cic-geospatial-data-discovery-project/'} Read more about the Geospatial Data Discovery Project here.

  %p
    This project is collectively managed by librarians and geospatial specialists at ten research institutions from across the
    %a{href:'http://www.btaa.org/homepage'} Big Ten Academic Alliance
    including:

  %ul
    %li University of Illinois at Urbana­-Champaign
    %li Indiana University Bloomington
    %li University of Iowa
    %li University of Maryland
    %li University of Michigan
    %li Michigan State University
    %li University of Minnesota (host institution)
    %li Pennsylvania State University
    %li Purdue University
    %li University of Wisconsin-­Madison

  %p
    ="The geoportal is built with "
    %a{href:'http://geoblacklight.org/'} Geoblacklight
    %span<>=", a multi-institutional open-source collaboration for finding and sharing geospatial data. The technical infrastructure for the project is provided by the University of Minnesota Libraries Web Development department."

  %h2 Sources
  %p
    The records in the geoportal have been aggregated from the following data collections:

  %h3 Statewide

  %ul
    %li
      %a{href:'https://clearinghouse.isgs.illinois.edu/'} Illinois Geospatial Data Clearinghouse (ISGS)
    %li
      %a{href:'http://www.indianamap.org/'} IndianaMap
    %li
      %a{href:'http://public.iowadot.opendata.arcgis.com/'} Iowa DOT Open Data Map Portal
    %li
      %a{href:'https://programs.iowadnr.gov/nrgislibx/'} Iowa Geological Survey Data (DNR)
    %li
      %a{href:'http://imap.maryland.gov/Pages/default.aspx'} Maryland iMap
    %li
      %a{href:'https://gisdata.mn.gov/'} Minnesota Geospatial Commons
    %li
      %a{href:'http://www.pasda.psu.edu/'} Pennsylvania Spatial Data Access (PASDA)
    %li
      %a{href:'http://gis.michigan.opendata.arcgis.com/'} State of Michigan Open Data
    %li
      %a{href:'https://datcp.wi.gov/Pages/Programs_Services/GISData.aspx'} Wisconsin Department of Agriculture, Trade and Consumer Protection
    %li
      %a{href:'http://dnr.wi.gov/maps/gis/geolibrary.html'} Wisconsin Department of Natural Resources (DNR)
    %li
      %a{href:'http://data.ltsb.opendata.arcgis.com/'} Wisconsin Legislative Technology Services Bureau

  %h3 Regional, County, and Municipal

  %h4 Michigan

  %ul
    %li
      %a{href:'http://www.a2gov.org/services/data/Pages/default.aspx'} Ann Arbor
    %li
      %a{href:'https://data.detroitmi.gov/'} Detroit
    %li
      %a{href:'http://maps.semcog.opendata.arcgis.com/'} Southeast Michigan Council of Governments (SEMCOG)

  %h4 Minnesota

  %ul
    %li
      %a{href:'https://www.anokacounty.us/1990/Data-Downloads'} Anoka County
    %li
      %a{href:'http://www.co.becker.mn.us/online_services/GIS_data.aspx'} Becker County
    %li
      %a{href:'http://data.carver.opendata.arcgis.com/datasets/e3cc5748ea2e402985ed427b6028d9e8_2'} Carver County
    %li
      %a{href:'http://gis.chisagocounty.us/Link/jsfe/index.aspx'} Chisago County
    %li
      %a{href:'http://gis.hennepin.opendata.arcgis.com/'} Hennepin County
    %li
      %a{href:'http://opendata.minneapolismn.gov/'} Minneapolis
    %li
      %a{href:'http://openramsey.ramseygis.opendata.arcgis.com/'} Ramsey County
    %li
      %a{href:'http://opendata.gis.co.scott.mn.us/'} Scott County
    %li
      %a{href:'http://data.wcmn.opendata.arcgis.com/'} Washington County

  %h4 Wisconsin

  %ul
    %li Brown County
    %li Calumet County
    %li Douglas County
    %li Green County
    %li Milwaukee County
    %li Oneida County
    %li Outagamie County
    %li Sauk County
    %li Trempealeau County
    %li Waupaca County
    %li Wood County

  %h3 University Libraries

  %ul
    %li
      %a{href:'https://www.libraries.psu.edu/psul/maps.html'} Penn State University Donald W. Hamer Map Library
    %li
      %a{href:'http://www.lib.uiowa.edu/maps/'} University of Iowa Libraries
    %li
      %a{href:'http://www.lib.umd.edu/'} University of Maryland Libraries
    %li
      %a{href:'http://www.lib.umich.edu/clark-library'} University of Michigan Stephen S. Clark Library
    %li
      %a{href:'https://www.lib.umn.edu/borchert'} University of Minnesota - John R. Borchert Map Library
