%div.row
  %div#main-content.col-sm-8
    %h1 About Us

    %p
      This geoportal connects users to digital geospatial resources, including GIS datasets, web services, and digitized historical maps from multiple data clearinghouses and library catalogs. The interface offers both text and place based search options, and item pages display descriptive metadata records along with external links to download, view, or read more about the resources. This site is solely an aggregator and does not host any data.
      %a{href:'https://z.umn.edu/btaagdp'} Read more about the Geospatial Data Discovery Project here.

    %p
      This project is collectively managed by librarians and geospatial specialists at ten research institutions from across the
      %a{href:'http://www.btaa.org/homepage'} Big Ten Academic Alliance
      including:

    %ol
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Illinois'} University of Illinois at Urbana­-Champaign
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Indiana'} Indiana University Bloomington
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Iowa'} University of Iowa
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Maryland'} University of Maryland
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Michigan'} University of Michigan
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Michigan+State'} Michigan State University
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Minnesota'} University of Minnesota (host institution)
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Penn+State'} Pennsylvania State University
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Purdue'} Purdue University
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Wisconsin'} University of Wisconsin-­Madison
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Ohio+State'} Ohio State University
      %li
        %a{href:'/?f%5Bdct_provenance_s%5D%5B%5D=Chicago'} University of Chicago

    %p
      = image_tag('map_March2019.png', :alt => "Geospatial Data Project Participants", :title => "Geospatial Data Project Participants", :class => 'img-fluid')

    %h2#hosting Technology and Hosting

    %p
      ="The geoportal is built with "
      %a{href:'http://geoblacklight.org/'} Geoblacklight
      %span<>=", a multi-institutional open-source collaboration for finding and sharing geospatial data. The technical infrastructure for the project is provided by the University of Minnesota Libraries Web Development department."

    %p
      %a{href:'https://www.lib.umn.edu/about/privacy'} Privacy Statement
      =" | "
      %a{href:'http://policy.umn.edu/it/itresources'} Acceptable Use of IT Resources

    %h2 Data Sources
    %p
      The records in the geoportal have been aggregated from state and local data clearinghouses and university library repositories across the Big Ten region.
      %a{href:'/?f%5Bdc_type_sm%5D%5B%5D=Collection'} Browse by collection here.
  %div#nav-menu.col-sm-3.col-sm-offset-1
    %h3 Pages
    %ul.nav.nav-sidebar.flex-column
      %li.nav-item
        %a.active{href: "/about"} About
      %li.nav-item
        %a{href:"/help"} Help
      %li.nav-item
        %a{href:"/blog"} News &amp; Updates
      %li.nav-item
        %a{href:"https://docs.google.com/a/umn.edu/forms/d/e/1FAIpQLSf6OHrj6YIcn8yNe6sWgQJ_iJfElDZgozUCSdATzePwLqul5Q/viewform"} Contact Project Team
