%div.col-sm-8
  %h1 How to Use the Big Ten Academic Alliance Geoportal

  %h2.h3 Contents
  %ul
    %li
      %a{href:'#homepage'} Searching from the Homepage
    %li
      %a{href:'#results-page'} Refining the Search Results
    %li
      %a{href:'#item-page'} Understanding the Item Page

  %h2#homepage Searching from the Homepage
  %p There are three search options on the homepage: a text search box, a category browse, and a map search.

  =image_tag('help/homepage.png', class:'img-responsive', alt:'Homepage')

  %h3.h4 Enter Keywords
  %p The first item below the banner is a general keyword search box. The search will scan all of the text fields in the metadata records.

  %h3.h4 Browse Categories
  %p Three categories have been placed on the homepage for browsing: Institution, Publisher, and Subject. At the bottom of each category is the text “more >>.” Clicking on this link will bring up an overlay box where the user can sort all of the items alphabetically or by number of entries.

  %h3.h4 Focus the Map
  %p At the bottom of the page is a world map for geographic searches. The user can pan the map with the mouse and zoom with the controls at the upper left. When the desired area is in view, the user can click the blue “Search here” button at the upper right. Only records that fall within the geographic extents visible on the map will be displayed.

  %h3.h4 Tip: How to browse all records in the geoportal
  %p There are two ways to display a list of all of the records in the geoportal. The first is to type an asterisk * in the text search box. The second is to use the map. With the full world in view (default setting), click the blue “Search here” button.

  %hr

  %h2#results-page Refining the Search Results
  %p Once an action has taken place on the homepage, the user will be taken to a search results page. The text search box will still be present at the top, but additional options will be available.

  =image_tag('help/results-page.png', class:'img-responsive', alt:'Results Page')

  %h3.h4 Facet Column
  %p The left hand column is made up of ten different categories, or facets, for users to select from. The first three are the same as the homepage: Institution, Publisher, and Subject. The user can expand each facet and select a value to refine their search.
  %p As values are selected, they are added to a section at the top of the page called “You searched for:” Users can delete values from their multi-faceted search by clicking on the X’s after each value.

  =image_tag('help/facetlist.png', class:'img-responsive', alt:'Facet List')

  %h3.h4 Record List Column
  %p The list of results takes up the center portion of the page. Users can use the navigation to tab through the lists. The list can also be viewed by relevance, year, publisher, or title. The number of items per page can also be changed from 10 to 20, 50, or 100.
  %p The icons next to the titles indicate the data type, the institution, and the access rights for the item.

  %h3.h4 Map Search
  %p A map appears at the right of the record list. The user can pan the map and use the controls at the upper left for zooming. This will dynamically change the results list. Only the items that are within the current map view will be returned.

  %hr

  %h2#item-page Understanding the Item Page
  %p When a record is selected, the user is taken to its item page. This page displays links and information about the resource.

  =image_tag('help/item-page.png', class:'img-responsive', alt:'Item Page')

  %h3.h4 GeoBlacklight Metadata Schema elements
  %p A selection of metadata is displayed at the top of the page. The last entry is a link back to the website hosting the resource.

  %h3.h4 Data Preview
  %p At the bottom of the page is a map inset. If the data includes a web service, this may appear. The user will be able to click on entities within the web service to see attribute information about it.
  %p If a web service is not available, the map inset will show the geographic extents of the resource as a shaded bounding box.
  %p
    If a digitized map is available via an
    %a{href:'http://iiif.io/'} IIIF server,
    this inset will be a zoomable image.

  %h3.h4 Links
  %p The right hand column contains several features and links.
  %p The user can bookmark or email the item page.
  %p The link called “Web Service” will open a popup box with a link that can be copied into another application.
  %p The link called “Metadata” will open a popup box showing ISO 19139 metadata in XML format.
  %p The bottom link is a direct download button. This downloads the item from the website hosting the resource.
