<header aria-label="Primary">
  <div id="btaa-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="cic-header-navbar" class="navbar navbar-static-top">
            <div class="navbar-header">
              <a href="/"><img height="100px" alt="Big Ten Academic Alliance" style="margin-top:5px" src="/assets/btaa-logo-e622d081b6b06b467cc6fdf105f8bd4d127734fc25ace50d8178cde95df26d67.jpg"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="application-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div id="header-navbar" class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#user-util-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" style="font-weight:bold; font-size:36px" href="/">Geoportal</a>
            </div>

            <div class="collapse navbar-collapse" id="user-util-collapse">
              <div class="navbar-right">
                <ul class="nav navbar-nav">
                  <li><a href="/search_history">History</a></li>
                  <li><a href="/about">About</a></li>
                  <li><a href="/help">Help</a></li>
                </ul>
                <ul class="nav navbar-nav">
                  <li>
                    <a href="/users/sign_in">Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
