<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Internal Server Error</h1>
      <h2 class="h5">Error code: 500</h2>
      <p>Well... something isn't right here.</p>
      <p>Please don't panic. We track these issues automatically and our web developers will fix the problem shortly.</p>
      <p>Feel welcome to <a href="https://geo.btaa.org/feedback">contact the project team</a> if you need assistance.</p>
    </div>
  </div>
</div>
