<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Page Not Found</h1>
      <h2 class="h5">Error code: 404</h2>
      <p>Sorry! We cannot find the page you are looking for.</p>
      <p>Maybe one of these links will help you find your way:</p>
      <ul>
        <li><%= link_to 'Homepage', root_url %></li>
        <li><%= link_to 'Help', help_url %></li>
        <li><%= link_to 'About', about_url %></li>
      </ul>
    </div>
  </div>
</div>
