%a{data:{toggle: 'popover', content:'This resource requires authentication through one of the following institutions. Select your institution for access.'}, title: 'Licensed Resource', }
  = geoblacklight_icon(document[Settings.FIELDS.RIGHTS])
  Licensed Resource

%div.access-links.list-group
  - b1g_access_links(@document).sort.each do |key,value|
    - if key.present?
      %a.list-group-item.list-group-item-action{href:value}
        = blacklight_icon(key.parameterize)
        = key