<%-
  # Compare with render_document_functions_partial helper, and
  # _document_functions partial. BL actually has two groups
  # of document-related tools. "document functions" by default
  # contains Bookmark functionality shown on both results and
  # item view. While "document tools" contains external export type
  # functions by default only on detail.

-%>
<div class="panel panel-default show-thumbnail">
  <div class="panel-heading">
    Thumbnail
  </div>

  <div class="panel-body">
    <%= thumbnail_tag(@document) %>

    <%- if @document.zoomable_image? %>
      <p>
        <br/>
        <%= link_to("View zoomable image", view_image_solr_document_path(@document))%>
      </p>
    <%- end %>
  </div>
</div>
