<% document ||= @document %>
  <% if show_attribute_table? %>
    <div id='viewer-container' class="col-md-8">
  <% else %>
    <div id='viewer-container' class="col-md-12 well">
  <% end %>
  <%= content_tag :div, id: 'map', class: "", data: { map: 'item', protocol: document.viewer_protocol.camelize, url: document.viewer_endpoint, 'layer-id' => document.wxs_identifier, 'map-bbox' => document.bounding_box_as_wsen, 'catalog-path'=> search_catalog_path, available: document_available?, inspect: show_attribute_table?, basemap: geoblacklight_basemap, leaflet_options: leaflet_options } do %>

    <% if document.viewer_protocol == 'download' %>
      <div class="leaflet-control-container">
        <div class="leaflet-top leaflet-left">
          <div class="leaflet-control-zoom leaflet-bar leaflet-control">
            <a class="leaflet-control-zoom-fullscreen fullscreen-icon" href="#" title="Full Screen" data-js-fullscreen="false"></a>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
