---
layout: default
---
<div class="row">
  <div class="col-sm-8">
    <div class="home" id="home">
      <h1 class="pageTitle">Recent News</h1>
      <ul class="post-list" style:="text-align:left;">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <h3 style="margin-top:0.3rem;"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
            <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
          </li>
        {% endfor %}
      </ul>
      <!-- Pagination links -->
      <div class="pagination">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
        {% endif %}
        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
        {% endif %}
      </div>

      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
  </div>
  <div class="col-sm-3 col-sm-offset-1" id="nav-menu">
    {% include navigation.html %}
  </div>
</div>
