.glyphicon-mapview        { &:before { content: "\e135"; } }
.glyphicon-split          { &:before { content: "\e055"; } }

span.icon {
  color: #CCC !important;
  display: inline;
  align-self: center;
}

.icon svg {
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.icon.square {
  color: #CCC !important;
}

.icon.square svg {
  fill: #CCCCCC;
  height: 100px;
  width:100px;
}

.icon.square svg path{
  fill: #CCCCCC;
}

.icon.square svg text{
  fill: #CCCCCC;
}

.icon.baseline svg {
  top: .125em;
  position: relative;
}
