/*
*= require chosen
*= require 'blacklight_advanced_search'
*/
@import 'customizations';
@import 'bootstrap';
@import 'blacklight';
@import 'geoblacklight';
@import 'geoblacklight_admin/core';
@import 'geoportal';
@import 'gblsci';
@import 'blacklight/allmaps/base';

// GBL Admin - override defaults
div.container-fluid {
  margin-top: 0 !important;
}

footer {
  border-top: none;
  margin-top: 4rem;
  background: none;
  box-shadow: none;

  background-color: rgb(204, 204, 204);
  padding-top: 2rem;
  padding-bottom: 2rem;
}