@import 'components/icons';

span.list-view.document-counter {
  display:inline-block;
  float:left;
  position:relative;
  top:1rem;
  font-weight:500;
}

.view-type-group {
  .caption {
    position:inherit;
  }
}
