<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <li class="nav-item"><%=link_to('About', about_path, {class: 'nav-link'})%></li>
  <li class="nav-item"><%=link_to('Help', help_path, {class: 'nav-link'})%></li>
</ul>
